body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000033;
    color: #fff;
    font-family: 'Merriweather', serif;
}

#star-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.invitation-container {
    position: relative;
    z-index: 3;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.family-name {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.names {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin: 20px 0;
    color: #FFD700;
}

.events {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.event {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #FFD700;
    border-radius: 10px;
    background-color: rgba(0, 0, 51, 0.7);
}

.event h2 {
    color: #FFD700;
}

.hashtag {
    margin-top: 30px;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    color: #FFD700;
}

.banana-tree {
    position: absolute;
    bottom: 0;
    height: 80%;
    z-index: 2;
}

.banana-tree.left {
    left: 0;
}

.banana-tree.right {
    right: 0;
    transform: scaleX(-1);
}
