body{
    padding: .5em;
    background-color: #e7f5fd;
    scroll-margin: 0;    
}
a {
    text-decoration: none;
}
footer{
    vertical-align: text-bottom;
    
}
#ResumeSection{
    /* background-color: #d8ffc9; */
    border-radius: 0.5em;
    padding: .5em;
    word-wrap: normal;
}
.PageHeader{
    border: 1em; 
    border-radius: 1em; 
    padding: 0.2em; 
    background-color: #edd3b4; 
    text-align: center;
    text-decoration: none; 
    font-size: 2em; 
}
.ProjectItem{
    border-color: #b3ae92;
    border-width: 0.2em;
    background-color: #b8d1bf;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: -2.5em;
    padding-left: 2em;
    padding-top: 0em;
    border-radius: 1em;
    border-style: solid;
}
.SelectedHeader{
    font-size: 1.2em;
    padding: .1em;
    border-radius: .3em;
    background-color: #ffe4c4;
    box-shadow: 0.1em;
    border-width: 0.1em;
}
.ResumeButton{
    background-color: #b2e99e;
    padding: .5em;
    font-size: 1em;
    border-radius: .8em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#contactForm{
    padding: 1em;
    background-color: #cebeeb;
    align-content: center;
}
#contactEmail{
    width: 30em;
    height: 2em;
    margin: 2em;
    margin-bottom: 1em;
    background-color: #b7a2db;
    border-radius: 1em;
    border-width: .2em;
    border-color: #000;
    text-emphasis-color: #000;
    user-select: none;
    color: #fff;
}
#contactMessage{
    width: 30em;
    height: 15em;
    margin: 2em;
    margin-top: 1em;
    background-color: #b7a2db;
    border-radius: 1em;
    border-width: .2em;
    border-color: #000;
    color: #fff;
    border-collapse: collapse;
}
#aboutMeBrief{
    width: 50%;
}
.pageFooter{
    position: absolute;
    bottom: 0;
    margin: .1em;
}
#contactSubmit{
    width: 10em;
    height: 3em;
    border-radius: 1em;
    background-color: #7a40de;
    color: #f7ff12;
    margin: 2em;
    margin-top: 0em;
}
#SocialSection{
    margin-top: 1em;
    margin-left: 0.5em;
}